$raleway: 'Raleway', sans-serif;
$lobster: 'Lobster', cursive;
$bg-color: #222;
$text-color: #f8f8f8;

body {
    font-family: $raleway;
    background-color: $bg-color;
    color: $text-color }

.title{
    font-family: $lobster;
    font-size: 3.5rem }